body{
    margin: 0;
    padding: 0;
    background-color:salmon;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(225, 225, 225, 0.3);
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    margin: 10px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight:500;
}
input{
    height: 53px;
    width: 300px;
    background-color: rgba(225, 225, 225, 0.6);
    padding: 0 42px;
    font-size: 15px;
    border-radius: 8px;
}
.meaning-container{
    display: none;
}
@media screen and (max-width:550px) {
    .container{
        max-width: min-content;
        width: min-content;
    }
    input{
        max-width: min-content;
    }
    .meaning-container{
        display: none;
        max-width: min-content;
    }
}